@use "../../scss/" as *;

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.content-wrapper {
  width: 100vw;
  height: 70vh;
}


.feat-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/below-peaks.svg");
  height: 30vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.feat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;


  & h1 {
    font-size: $h1-large;
    line-height: normal;
    text-align: center;

    @include tablet {
      font-size: 3rem;
      padding: 2rem;
    }

    @include mobile {
      font-size: 4rem;
      line-height: normal;
      padding: 2rem;
    }
    
    background: #3dd1a5; 
    background: -webkit-linear-gradient(to right, #3dd1a5, rgb(202, 190, 190),#8129ae);
    background: linear-gradient(to right, #3dd1a5,rgb(217, 217, 217), #8129ae);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

  }

  p {
    font-size: $p-large;
    padding: 1rem 0;
    text-align: center;
    color: $text-color;
    width: 80%;
  }

  
  
  @include tablet {
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
  }
  
  @include mobile {
    width: 100%;
  }
  
}



.feat-left-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;

  @include tablet {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 2rem 0;
  }

  @include mobile {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2rem;

  }

  &__inner-left{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: fit-content;
    padding: 0.5rem 1rem;
    background-color: #1e293b;
    border-radius: 10px;
    z-index: 1;

    @include mobile {
      display: none;
    }

  }

  &__prof {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    margin-top: 1rem;
    border: 5px solid #1e293b;
  }

}

.feat-right-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;


  @include tablet {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 0 2rem 1rem;
  }
  
  @include mobile {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 50vh;
    padding-left: 2rem;
    overflow: hidden;
  }

}

.quote-md {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: normal;
  font-size: 1rem;
  padding: 1rem;

  &__name {
    padding-top: 1rem;
    color: $text-highlight;
  }

  &__title {
    color: $text-color;
    opacity: 0.6;
  }

  @include mobile {
    font-size: 1.5rem;
  }
  

}

.text-highlight {
  color: $text-highlight;
}


// Code Box

.frosted-box {
  display: flex;
  flex-direction: column;
  background-color: #222;
  opacity: 0.8;
  max-width: 584px;
  min-height: 100%;
  border-radius: 10px;
  border: 1px solid #999;
}

.code-browser{
  display: flex;
  
  &__nav {
    border-bottom: 1px solid #999;
    padding: .5rem 1rem;
  }
  
  &__section{
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  &__sidebar {
    display: flex;
    font-size: 14px;
    font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    flex-direction: column;
    padding: 1rem;
  }

  &__codes {
    display: flex;
    font-size: 14px;
    font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    flex-direction: column;
    padding: 1rem;
    max-width: 530px;
  }

}

.figure {
  display: block;
  color: #fff;
  overflow: auto;
  overflow-y: hidden;
  min-height: 450px;
}

.token-tag::after {
  content: "\a";
  white-space: pre;
}


.el-tag {
  color: #f472b6;
}

.el-class {
  color: #73c2ea;
}

.token-attr-value{
  color: #73c2ea;
}

.code-tab-1 {
  margin-left: 1rem;
}
.code-tab-2 {
  margin-left: 2rem;
}
.code-tab-3 {
  margin-left: 3rem;
}
.code-tab-4 {
  margin-left: 4rem;
}
