@use "../../scss/" as *;

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $body-bg;
}

.post-wrapper {
  max-width: 800px;
  min-height: 100vh;
  line-height: normal;
}

.post-card-body {
  padding: 2rem 0;

  @include tablet {
    padding: 0 2rem;
  }

  @include mobile {
    padding: 0 2rem;
  }

  h3 {
    font-size: $h1-medium;
    padding: 5rem 0 1rem 0;
    text-align: center;
  }

  p {
    font-size: $p-small;
    padding: 2rem 0;
    text-align: justify;
    line-height: 150%;

    @include tablet {
      font-size: $p-medium;
    }

    @include mobile {
      font-size: $p-large;
    }
  }

  strong {
    font-size: $p-large;
    text-align: justify;
  }

  figure {
    width: 100%;
  }

  figcaption {
    font-size: $p-small;
    text-align: center;
    color: #f9fafa;
    opacity: 0.6;
  }

}

.more {
  padding: 5rem 0;
  font-weight: bold;
  text-align: center;
  color: #f9fafa;
  opacity: 0.6;
  cursor: pointer;
}