@use "../../scss/" as *;

#footer {
  padding: 2rem 0 5rem 0;
  width:100%;
  height:100%;
}

.container-bg{
  background-color: #000;
}

.footer-container {
  max-width: 1280px;
  display: flex;
  flex-direction: row;

  @include tablet {
  flex-direction: column;
  padding: 0 5rem;
  }

  @include mobile {
    flex-direction: column;
    padding: 0 2rem;
  }
}

.footer-details{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: 100%;
  line-height: normal;

  h1 {
    font-size: $h2-medium;
    line-height: 5rem;
  }

  p {
    font-size: $p-small;
    color: $text-color;
    margin-bottom: 3rem;
    max-width: 500px;
  }


  @include mobile {
    h1 {
      font-size: $h1-large;
      line-height: 5rem;
    }
  
    p {
      font-size: $p-large;
      color: $text-color;
      margin-bottom: 3rem;
      max-width: 100%;
    }
  }
}

.contact-column{
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  // border: 1px solid green;
}

.footer-socials{
  display: flex;
  flex-direction: column;
}


.copyright {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  color: $text-color;
  font-size: $p-small;
}

.footer-contact-button {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  
  // border: 1px solid chartreuse;
}

.footer-content {
  display: flex;
  justify-content: center;
  border-radius: 10px;

  & p {
    font-size: $p-small;
  }

  @include mobile {
    padding: 3rem 0;

    & p {
      font-size: $p-large;
    }
  }

  
}
